@font-face { font-family: Panton; font-weight: 100; src: url('./fonts/Panton_100_Thin.otf'); }
@font-face { font-family: Panton; font-weight: 200; src: url('./fonts/Panton_200_ExtraLight.otf'); }
@font-face { font-family: Panton; font-weight: 300; src: url('./fonts/Panton_300_Light.otf'); }
@font-face { font-family: Panton; font-weight: 400; src: url('./fonts/Panton_400_Regular.otf'); }
@font-face { font-family: Panton; font-weight: 500; src: url('./fonts/Panton_500_SemiBold.otf'); }
@font-face { font-family: Panton; font-weight: 600; src: url('./fonts/Panton_600_Bold.otf'); }
@font-face { font-family: Panton; font-weight: 700; src: url('./fonts/Panton_700_ExtraBold.otf'); }
@font-face { font-family: Panton; font-weight: 800; src: url('./fonts/Panton_800_Black.otf'); }
@font-face { font-family: Panton; font-weight: 900; src: url('./fonts/Panton_900_Heavy.otf'); }

$theme-color: #282c34;
$text-color: #333333;

$pink-contrast: hsl(340, 100%, 50%);
$pink-contrast-transparent: hsla(340, 100%, 50%, 0.5);

$gray-0: hsl(0, 0%, 95%);
$gray-1: hsl(0, 0%, 90%);
$gray-2: hsl(0, 0%, 80%);

$border-radius: 3px;